<%= form_for @list do |f| %>
    <% if @list.errors.any? %>
        <div class="error_messages">
          <h2>Form is Invalid</h2>
          <ul>
            <% for message in @list.errors.full_messages %>
                <li><%= message %></li>
            <% end  %>
          </ul>
        </div>
    <% end %>
    <p>
      <%=  f.label :name %><br>
      <%=  f.text_field :name %>
    </p>
    <p>
      <%= f.label "Privacy Settings" %><br>
      <%= f.label :Pubic %>
      <%= f.radio_button :privacy, List.PRIVACY_PUBLIC, :checked => true %>
      <%=  f.label :Private %>
      <%= f.radio_button :privacy, List.PRIVACY_PRIVATE%>
    </p>
    <p>
      <%=  f.label :description %><br>
      <%=  f.text_area :desc %>
    </p>


    <p class="button"><%= f.submit "CREATE" %></p>

<% end %>